{% extends "base.html" %}
{% block title %}Login • STREETLAB{% endblock %}

{% block content %}
<section class="auth">
  <div class="auth__wrap">
    
    <div class="auth__header">
      <h1 class="auth__title">LOGIN</h1>
      <p class="auth__subtitle">
        Entre para continuar e finalizar sua compra.
      </p>
    </div>

    <form method="POST" class="auth__form">
      <input type="email" name="email" placeholder="Email" required>
      <input type="password" name="password" placeholder="Senha" required>

      <button class="btn btn--primary btn--full">
        Entrar
      </button>
    </form>

    <div class="auth__footer">
      <span>Não tem conta?</span>
      <a href="/register">Criar conta</a>
    </div>

  </div>
</section>
{% endblock %}
